<div class="input">
  <input class="todo-input" type="text" placeholder="What did you want to do today" value={{toDoItem}} [(ngModel)]="toDoItem">
  <button class="input-btn" (click)="addToDo()">Add to List</button>
</div>

<div class="items-wrap" *ngFor="let todo of todoList">
  <div class="items">

    <input class="check" type="checkbox" [(ngModel)]="todo.completed" (change)="updateCompleted(todo.id)">
    <div class="content" *ngIf="!todo.editing; else editingTodo" >{{ todo.content }}</div>

    <ng-template  #editingTodo >
        <input class="edit-field" #editVal type="text" placeholder="{{todo.content}}" value={{editedItem}} [(ngModel)]="editedItem">
    </ng-template>

  </div>

  <div class="options-btn" >
    <button class="btn" *ngIf="!todo.editing" (click)="removeTodo(todo.id)">Remove</button>
    <button class="btn edit-btn" *ngIf="!todo.editing" (click)="toggleEdit(todo.id)">Edit</button>
    <button class="btn" *ngIf="todo.editing" (click)="onEdit(todo.id)">Save</button>
    <button class="btn cancel" *ngIf="todo.editing" (click)="toggleEdit(todo.id)">Cancel</button>
  </div>
</div>
