/* CSS for small screens first */
.input {
  justify-content: center;
  text-align: center;
  margin: 5% auto;
}

.todo-input {
  width: 70%;
  border: none;
  border: 2px solid black;
  margin-right: 5%;
  padding: 7px;
  line-height: 17px;
}

.todo-input:focus {
  outline: none;
  border: none;
  border: 2px solid black;
}

.input-btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
  font-size: 14px;
}

.items-wrap {
  margin: 0 auto;
  margin-bottom: 12px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  display: flex;
  align-items: center;
}

.content {
  padding: 10px;
  border-bottom: 1px solid white;
  margin-left: 5%;
  text-overflow: ellipsis;
  white-space: inherit;
  width: 300px;
}

.edit-field {
  border: 2px solid black;
  padding: 7px;
  line-height: 17px;
  margin-left: 3%;
}

.edit-btn {
  margin-left: 10px;
}

.cancel {
  margin-left: 10px;
}

.btn {
  background-color: gainsboro;
  border: none;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .edit-field {
    width: 375px;
  }

  .check {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
  }

  .content {
    width: 375px;
  }
}


@media only screen and (min-width: 950px) {
  .edit-field {
    width: 410px;
  }

  .content {
    width: 410px;
  }
}

@media only screen and (min-width: 1248px) {
  .edit-field {
    width: 600px;
  }

  .input-btn {
    padding: 10px;
    font-size: 16px;
  }

  .content {
    width: 600px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1536px) {
  .edit-field {
    width: 700px;
  }

  .content {
    width: 700px;
  }
}
